#layout
{
    display: grid;
}

#headerLayout
{
    grid-area: header;
}

#navigationLayout
{
    grid-area: navigation;
}

#contentLayout
{
    grid-area: content;
}

#footerLayout
{
    grid-area: footer;
}

@media (orientation: landscape)
{
    #layout
    {
        grid-template-areas:
            "header header"
            "navigation content"
            "footer footer";
        grid-template-columns: 1fr 2fr;
    }
}

@media (orientation: portrait)
{
    #layout
    {
        grid-template-areas:
            "header"
            "content"
            "footer";
    }

    #navigationLayout
    {
        display: none;
    }
}

#layout
{
    background-color: #fcc;
}

#headerLayout
{
    background-color: #cfc;
}

#navigationLayout
{
    background-color: #ccf;
}

#contentLayout
{
    background-color: #cff;
}

#footerLayout
{
    background-color: #fcf;
}