body
{
    margin: 0;
}

#layout
{}

#headerLayout
{
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
}

#flexLayout
{
    display: flex;
    margin: 3em 0 2em 0;
}

#navigationLayout
{
    flex: 1 1 auto;
}

#contentLayout
{
    flex: 2 1 auto;
}

#footerLayout
{
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0;
    height: 2em;
    width: 100%;
}

@media (orientation: portrait)
{

    #headerLayout,
    #footerLayout
    {
        font-size: 1.1em;
    }

    /* 
    #navigationLayout
    {
        position: fixed;
        bottom: 0;
    }

    #footerLayout
    {
        display: none;
    } */
}


#layout
{
    background-color: #faa;
}

#headerLayout
{
    background-color: #afa;
}

#flexLayout
{
    background-color: #aaf;
}

#navigationLayout
{
    background-color: #faf;
}

#contentLayout
{
    background-color: #ffa;
}

#footerLayout
{
    background-color: #aff;
}