html
{
    font-family: Arial, Verdana, sans-serif;
}

button,
input[type='file'],
input[type='file']::file-selector-button
{
    cursor: pointer;
}

.textAlign-end
{
    text-align: end;
}