/* TODO portrait */

@media (orientation: landscape)
{
    .form
    {
        display: flex;
        flex-direction: column;
    }

    .form .field
    {
        display: flex;
        gap: 0.5em;
    }

    .field .label
    {
        text-align: end;
        min-width: 1em;
    }
}

label::after
{
    content: ':';
}

label.required::after
{
    content: '* :';
}