body
{
    margin: 0;
}

#layout
{}

#flexLayout
{
    margin: 3em 0 2em 0;
}

#headerLayout
{
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
}

@media (orientation: landscape)
{
    #flexLayout
    {
        display: flex;
    }

    #navigationLandscapeLayout
    {
        flex: 1 1 auto;
    }

    #contentLayout
    {
        flex: 2 1 auto;
    }

    #navigationPortraitLayout
    {
        display: none;
    }

    #footerLayout
    {
        display: flex;
        align-items: center;

        position: fixed;
        bottom: 0;
        height: 2em;
        width: 100%;
    }
}

@media (orientation: portrait)
{
    #navigationLandscapeLayout
    {
        display: none;
    }

    #navigationPortraitLayout
    {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #navigationPortrait
    {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        background-color: #00f;
    }

    .navigationPortraitItem
    {
        display: block;
        flex: 1 1 auto;
        background-color: #0f0;
        text-align: center;
        line-height: 2em;
    }

    .navigationPortraitItem a
    {
        display: block;
        background-color: #0ff;
    }

    #navigationPortraitTheRestHolder
    {
        background-color: #f0f;
        flex: 0 0 3em;
    }

    #navigationPortraitTheRestButton
    {
        display: block;
        padding: 0;
        border: 0;
        font-size: 1em;
        width: 100%;
        line-height: 2em;
    }

    #navigationPortraitTheRest
    {
        list-style: none;
        position: fixed;
        bottom: 2em;
        right: 0;
        padding: 0;
    }

    .navigationPortraitTheRestItem
    {
        display: block;
        min-width: 3em;
    }

    #footerLayout
    {
        display: none;
    }
}

.display-none
{
    display: none;
}

#layout
{
    background-color: #faa;
}

#headerLayout
{
    background-color: #afa;
}

#flexLayout
{
    background-color: #aaf;
}

#navigationLandscapeLayout
{
    background-color: #faf;
}

#contentLayout
{
    background-color: #ffa;
}

#navigationPortrait
{
    background-color: #f00;
}

#footerLayout
{
    background-color: #aff;
}