@media (orientation: landscape)
{
    #passwordForm
    {
        display: flex;
        flex-direction: column;
    }

    .field
    {
        display: flex;
        gap: 1em;
    }

    .label
    {
        text-align: end;
        min-width: 10em;
    }

    button
    {
        margin-left: 11em;
    }
}

.spacer-top
{
    margin-top: 1em;
}