#internalUserTable .internalUserId
{
    min-width: 6em;
}

.dateTime
{
    min-width: 10em;
}

.name
{
    min-width: 11em;
}

.status
{
    min-width: 5em;
}

.addName
{
    min-width: 11em;
}