#internalUserTable .internalUserId
{
    min-width: 6em;
}

.date
{
    min-width: 10em;
}

.email
{
    min-width: 11em;
}

.userId
{
    min-width: 11em;
}

.status
{
    min-width: 5em;
}

@media (orientation: landscape)
{
    .field .label
    {
        min-width: 4em;
    }

    .form .button,
    .form .message
    {
        margin-left: 4.5em;
    }
}