 .field
 {
     gap: 0.5em;
 }

 .field:not(.internal, .internalPermission, .nonNew, .display-none)
 {
     display: flex;
 }

 .field:not(.spacer-top)
 {
     margin-top: 0.5em;
 }

 .field .label
 {
     text-align: end;
     min-width: 10em;
 }

 .label::after
 {
     content: ':';
 }

 .button,
 .message
 {
     margin-left: 10.5em;
 }

 .internalPermission
 {}

 .nonNew
 {
     display: none;
 }